{% extends 'global/global.html'%}
{% load static %}

{% block 'css' %}
  <link rel="stylesheet" href="{% static 'users/loginpage.css'%} ">
{% endblock 'css' %}


{% block 'body' %}
{% include 'global/partials/__navbar.html' %}


<main id="LoginBox" class="container-fluid">

  <div id="Form">

    <h1 class="mb-5">Cadastro</h1>
    <form method="post">
      {% csrf_token %}
      <div>
        {%include 'global/partials/__message.html'%}

        <input type="text" placeholder="Usuário" name='username'>
        <input type="email" placeholder="Email" name='email'>
        <input type="text" placeholder="Nome Completo" name='first_name'>
        <input type="password" placeholder="Senha" name='password'>
        <button type="submit" class="btn-dark btn">Autenticar-se</button>
      </div>
    </form>
  </div>

</main>






{% endblock 'body' %}

